@reference "./daisyui.css";

.flex-between {
  @apply flex items-center justify-between;
}

.flex-center {
  @apply flex items-center justify-center gap-2;
}

.scrollbar-hide {
  @apply overflow-hidden hover:overflow-auto;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
